* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Karantina", sans-serif;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    vertical-align: center;
    width: 100%;
    text-indent: initial;
    border-spacing: 3rem;
    border-color: gray;
}

html {
    background: linear-gradient(113.96deg, #1A118B 0%, #4216C1 55.73%, #6E3CE3 98.96%);
    background-repeat: no-repeat;
    height: 100%;
}
/* kidslist */

input {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    &:checked {

        ~ .check {
            border-color: #4216C1;
            box-shadow: 0px 0px 0px 15px #6E3CE3 inset;

            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    border-radius: 100px;
    background-color: #FFF;
    border: 2px solid #4216C1;
    box-shadow: 0px 0px 0px 0px #6E3CE3 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 4;
        position: absolute;
        transform: scale(0);
        background-size: 50%;
        background-image: url('https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg');
        background-repeat: no-repeat;
        background-position: left;
        transition-delay: 0.2s !important;
        transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
    }



.box {
    width: 300px;
    margin: 25px 0px;
    display: flex;
    align-items: right;
    user-select: none;
}

input[type="checkbox"] {
    margin: 100rem;
}

.artimg{
    display: flex;
    position: absolute;
    z-index: -1;
}

/* Login Screen */

.artimgbr {
    bottom: 0;
    right: 0;
}

.login_container {
    display: flex;
    flex-direction: column;

    height: 60rem;
    margin-left: 10%;
    max-width: 80%;
}

.login__logo {
    height: 50%;
}

.login__logo img {
    width: 90%;
    margin: 10% 0 0 5%;

}

.login__form {
    height: 50%;
}

.login__form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input_area {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_area input {
    font-size: 2.5rem;
    padding: .3em .5em .25em 2em;
    margin: .25em;
    border-radius: .25em;
    background-color: #FEFFFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_input {
    display: flex;
}

.user_input img {
    z-index: 99;
    margin: 0 -5rem 0 1rem;
}

.lgn_error {
    font-size: 2.5rem;
    letter-spacing: .06em;
    color: #FEFFFC;
    padding: .125em 1em;
    display: none;

    background: rgba(255, 83, 56, 0.25);
    border: 4px solid #d10c0c;
}

.login-btn {
    font-size: 3rem;
    padding: .125em 1em;
    margin-top: 1em;
    border-radius: .25em;
    background-color: #9ed11c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.temp-btn {
    font-size: 3rem;
    text-decoration: none;
    color: black;
    padding: .125em 1em;
    margin-top: 1em;
    border-radius: .25em;
    background-color: #9ed11c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Team Member Nav Screen */

nav {
    margin: 5%;
}

.logout-btn {
    padding: 1em;
}

.artimg-tr {
    top: 0;
    right: 0;
}

.artimg-bl {
    bottom: 0;
    left: 0;
}

.menu-btns {
    width: 80%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    display: flex;
    width:8em;
    font-size: 3.5rem;
    text-align: center;
    padding: .25em .5em;
    border-radius: .5em;
    margin: .5em 0;

    background: #FEFFFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-btn a {
    margin: 0 auto;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: .03em;
    
    color: #9F9F9F;
    
}

.addnew-btn {
    background-color: #9ed11c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pwreset-btn {
    background-color: #d10c0c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addnew-btn a{
    color: #fefffc;
}

.pwreset-btn a {
    color: #fefffc;
}

/* Member List Screen */

.nav-items {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: .75em;

    background: #E4F1C7;
    border: 7px solid #8A16DE;
    border-radius: 2em;
}

.search-field {
    font-size: 3rem;
    letter-spacing: .03em;
    font-weight: 300;
    margin-left: .25em;
    color: #969696
}

.list-area {
    width: 90%;
    min-height: 45em;
    margin: 2em auto;
    padding: .75em;

    background: #E4F1C7;
    border: 7px solid #8A16DE;
    border-radius: 2em;

    font-size: 3rem;
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;

    font-size: 2rem;
    letter-spacing: .03em;
}

/* Add New Child Form */

.newform-area {
    min-height: 60em;
    margin-top: -2.5em;
    flex-direction: column;

    background-image: url("art-formbg.svg");
    background-size: cover;
    /* background-color: yellowgreen; */
}

.newchild-form {
    padding: 7.5em 2.5em;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-around;
}

.input-text {
    width: 40%;
    margin: 1em;
    padding: 1em;
}

/* .form-heading h1:nth-last-child(1) {
    margin-top: 5em;
} */

